<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at $9.99 per Month </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ab.</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter your name here">
        <button class="btn btn--accent"><svg class="icon wordpress icon--white"><use href="#src-13"></use></svg>search</button>
    </div>
    <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com $9.99</span></li>
        <li><span>.net $12.99</span></li>
        <li><span>.org $9.99</span></li>
        <li><span>.us $15.99</span></li>
        <li><span>.site $19.99</span></li>
        <li><span>.club $24.99</span></li>
    </ul>
</section>