<!-- Featured section component -->
<section class="block container">
    <header class="block__header">
        <h2>Host on the cloud to keep growing</h2>
        <p>We offer a wide range of hosting plans to suit your needs. Choose the one that suits your needs and get started.</p>
    </header>

    <article class="grid grid--cols-2 featured">
        <div class="featured__content">
            <span class="icon-container">
                <svg class="icon icon--primary "><use href="#src-4"></use></svg>
            </span>
            <h3 class="featured__heading">Super Easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem distinctio libero delectus ea voluptatum reprehenderit recusandae enim molestias,
                obcaecati, laudantium nemo iure tempora deserunt quos fuga, assumenda ullam atque?
            </p>
            <a href="#" class="link-arrow">Lear more</a>
        </div>
         <!-- <picture > Images optimisation, convert files to webp for faster loading-->
            <!-- <source type="image/webp" srcset="images/image.webp 1x, images/image@2x.webp 2x">
            <source type="image/png" srcset="images/image.png 1x, images/image@2x.png 2x"> -->
            <img class="featured__image"src="./images/easy.jpg" alt="">
        <!-- </picture> -->
    </article>

    <article class="grid grid--cols-2 featured">
        <div class="featured__content">
            <span class="icon-container">
                <svg class="icon icon--primary "><use href="#src-4"></use></svg>
            </span>
            <h3 class="featured__heading">Super Easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem distinctio libero delectus ea voluptatum reprehenderit recusandae enim molestias,
                obcaecati, laudantium nemo iure tempora deserunt quos fuga, assumenda ullam atque?
            </p>
            <a href="#" class="link-arrow">Lear more</a>
        </div>
         <!-- <picture > Images optimisation, convert files to webp for faster loading-->
            <!-- <source type="image/webp" srcset="images/image.webp 1x, images/image@2x.webp 2x">
            <source type="image/png" srcset="images/image.png 1x, images/image@2x.png 2x"> -->
            <img class="featured__image"src="./images/easy.jpg" alt="">
        <!-- </picture> -->
    </article>
</section>