<div class="media">
    <div class="media__image">
        <svg class="icon wordpress icon--primary "><use href="#src-11"></use></svg>
    </div>
    <div class="media__body">
        <h3 class="media__tittle">Easy start & Managed Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dolores quas tempora 
            eveniet omnis qui autem dolorem ipsum id adipisci modi beatae, officiis sequi nostrum nihil. 
            Ipsam voluptate aut quibusdam unde culpa natus alias magni ad doloremque possimus commodi 
            consequuntur aperiam laudantium, aliquid facere iste sapiente, esse assumenda dolor. Similique?
        </p>
    </div>
</div>