<!-- Showcase block component -->
<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User friendly Control panel</h2>
    </header>
    <div class="container grid grid--cols-2">
         <!-- <picture class="block-showcase__picture> Images optimisation, convert files to webp for faster loading-->
        <!-- <source type="image/webp" srcset="images/image.webp 1x, images/image@2x.webp 2x">
        <source type="image/png" srcset="images/image.png 1x, images/image@2x.png 2x"> -->
        <img class="block-showcase__image" src="./images/ipad.png" alt="control panel">
        <!-- </picture> -->
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon wordpress icon--white "><use href="#src-11"></use></svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__tittle">Easy start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dolores quas tempora 
                            eveniet omnis qui autem dolorem ipsum id adipisci modi beatae, officiis sequi nostrum nihil. 
                            Ipsam voluptate aut quibusdam unde culpa natus alias magni ad doloremque possimus commodi 
                            consequuntur aperiam laudantium, aliquid facere iste sapiente, esse assumenda dolor. Similique?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon wordpress icon--white "><use href="#src-12"></use></svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__tittle">Easy start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dolores quas tempora 
                            eveniet omnis qui autem dolorem ipsum id adipisci modi beatae, officiis sequi nostrum nihil. 
                            Ipsam voluptate aut quibusdam unde culpa natus alias magni ad doloremque possimus commodi 
                            consequuntur aperiam laudantium, aliquid facere iste sapiente, esse assumenda dolor. Similique?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon wordpress icon--white "><use href="#src-3"></use></svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__tittle">Easy start & Managed Updates</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate dolores quas tempora 
                            eveniet omnis qui autem dolorem ipsum id adipisci modi beatae, officiis sequi nostrum nihil. 
                            Ipsam voluptate aut quibusdam unde culpa natus alias magni ad doloremque possimus commodi 
                            consequuntur aperiam laudantium, aliquid facere iste sapiente, esse assumenda dolor. Similique?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>